@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@1,246&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: black;
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

body * {
  margin: 0px;
  cursor: default;
  scrollbar-width: none;
}

hr{
  border: .5px solid black;
}

[btn] {
  cursor: pointer;
}

[text] {
  cursor: text;
}

rana {
  color: red
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loading .tips {
  color: rebeccapurple;
}

.loading-dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.loading-dot {
  width: 15px;
  height: 15px;
  background-color: #FF5C35;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.loading-dot:nth-child(1) {
  animation-delay: 0s;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.launcher{
  background-color: gray;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.leftside{
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 17vw;
  position: relative;
}

.account{
  background-color: blue;
  padding: 2vh 2vh 2vh 2vh;
  display: flex;
  flex-direction: column;
}

.account h1{
  font-size: 2.2vw;
}

.account h3{
  display: flex;
  justify-content: flex-end;
  font-size: 1.6vw;}

.instances{
  background-color: red;
  padding: 2vh 2vh 2vh 2vh;
}

.instances h1{
  font-size: 2.2vw;
}

.instances summary{
  font-weight: bold;
  font-size: 1.6vw;
}

.instances p {
  font-size: 1.4vw;
  font-weight: bold;
}

#accountpage {
  background-color:chocolate;
  height: 100vh;
}

#launchpage {
  background-color:aqua;
  height: 100vh;
}

#newspage {
  background-color:crimson;
  height: 100vh;
}

.settings {
  background-color: white;
  bottom: 0;
  position: absolute;
  padding: 1vh 2vh 1vh 2vh;
  width: 100%;
  box-sizing: border-box;
}

.main{
  background-color: purple;
  width: 83vw;
  overflow-y: auto;
  height: 100vh;
}
